.container {
  font-family: 'Montserrat', sans-serif; /* Matching font style */
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  max-width: 800px;
  background-color: #ffffff; /* White background */
}

.heading {
  font-size: 36px; /* Larger, bold heading */
  color: #282E68; /* Dark Blue */
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase; /* Uppercase text */
}

.formPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.formGroup, .formhGroup  {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
  position: relative; /* Ensure dropdown aligns correctly */
  margin-bottom: 20px;

}

label {
  flex: 1;
  font-size: 16px;
  color: #E73C71; /* Vibrant pink */
  text-align: right;
  margin-right: 20px;
  white-space: nowrap;

}

input,
.dropbtn {
  flex: 2;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #d1d1d1; /* Light Gray */
  border-radius: 5px;
  background-color: #ffffff;
  color: #282E68; /* Dark Blue */
  width: 100%;

}

input:focus,
.dropbtn:focus {
  border-color: #E73C71; /* Pink */
  outline: none;
}

.dropbtn {
  cursor: pointer;
  text-align: left;
  width: 100%; /* Ensure full width matches input fields */
}

.dropdown-content {
  position: absolute;
  top: calc(100% + 5px); /* Position dropdown below button */
  left: 0; /* Align dropdown with the button */
  background-color: #ffffff;
  width: 100%; /* Match width of the button */
  border: 1px solid #e0e0e0; /* Light Border */
  border-radius: 5px;
  z-index: 1;
  text-align: left;
  margin: 0; /* Remove extra margin */
  padding: 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.dropdown-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown-content li {
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
  border-bottom: 1px solid #f2f2f2;
  color: #282E68; /* Dark Blue */
}

.dropdown-content li:last-child {
  border-bottom: none;
}

.dropdown-content li:hover {
  background-color: #FCE4EC; /* Light Pink */
}

.butn {
  padding: 15px 30px;
  font-size: 16px;
  font-weight: 700; /* Bold font */
  border: none;
  border-radius: 8px; /* Rounded corners */
  cursor: pointer;
  width: 220px; /* Consistent button size */
  text-decoration: none; /* No underline */
  text-transform: uppercase; /* Uppercase text */
  background-color: #E73C71; /* Vibrant pink */
  color: #ffffff; /* White text */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.butn:hover {
  background-color: #FCE4EC; /* Light Pink */
  color: #D32A5D; /* Darker pink text */
  border: 2px solid #D32A5D; /* Border on hover */
}


.dropdown {
  flex: 2.2;
  position: relative;
} 


.dropdown-content li a {
  text-decoration: none;
  display: block; /* Make the link fill the entire li area */
  width: 100%;
  height: 100%;
  color: inherit; /* Inherit the li color */
}


